/* ngLoupeField Styles */

.ngLoupeField{
  width: 100%;
  position: relative;
}

.ngLoupeFieldModal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  opacity:0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
  z-index: 999999;
}

.ngLoupeFieldModal > div {
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  min-width: 70%;
  max-width: 70%;
  min-height: 40%;
  max-height: 70%;
}

.ngLoupeFieldModal:target {
  opacity:1;
  pointer-events: auto;
}

.ngLoupeFieldModalSelectInput {
  width: 100%;
  background-color:#428bca;
  color: #ffffff;
  border-color: #285e8e;
  display: block;
  min-height: 30px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
}

.ngLoupeFieldModalClose {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  cursor:pointer;
}

.ngLoupeFieldModalClose:hover { background: #606080; color:#ffffff; }

.ngLoupeFieldTableContainer {
  max-height:20em;
  overflow-y: scroll;
}


.ngLoupeFieldtable, table {
  width:100%;
}

.ngLoupeFieldtable, table > thead > tr > td{
  background-color: #ffffff;
  border-bottom: 2px solid #000000;
  padding:0em;
  font-weight: bold;
}

.ngLoupeFieldtable, th , td {
  border-collapse: collapse;
  padding: 1em;
}
.ngLoupeFieldtable, table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
.ngLoupeFieldtable, table tr:nth-child(even) {
  background-color: #ffffff;
}

.ngLoupeFieldFilterInput {
  text-align:right;
}

.ngLoupeField ul{
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
}

.ngLoupeField li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
}

.ngLoupeField li.active{
  width: 100%;
  background-color: #4bf;
}

.ngLoupeField .highlight {
  background-color: #E2E2E2;
}

.ngLoupeField li.active .highlight {
  background: #666;
  color: #fff;
}